extends layout

block content
  <div class="box-sections">
    <div class="box-article">
      <h1 class="tex-bienvenido fw-bold">¡Bienvenidos a Vip travel!</h1> 
        <p class="parrafo">¡Prepárate para un viaje inolvidable! En nuestra agencia de viajes, nos aseguramos de que cada viaje que emprendas con nosotros sea una experiencia que nunca olvidarás. Desde destinos exóticos hasta aventuras emocionantes, te llevaremos a lugares que superarán todas tus expectativas. ¿Estás listo para explorar el mundo?
        </p>
    </div>
    <div class="photos">
      <img  src="./images/foto-mar.jpg">
      <img  src="./images/foto-praga.jpg">
      <img  src="./images/equipaje-amarillo-plano-espacio-copia.jpg">
    </div>
  </div>
